*{padding: 0px;margin: 0px; list-style: none;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 14px;}
.pd0{padding: 0}
p{margin: 0;}
body{background: #0c0c0c;font-size: 14px;color: #e2872c;}
.main{margin-top: 50px;}
.nav_list{overflow: hidden;border-bottom: 2px solid #e2872c;}
.notice,.course{border: 1px solid #e2872c;text-align: center;line-height: 30px;}
.newlist{clear: both;margin-top: 20px;overflow: hidden;}
.newlist>a{color: #e2872c;line-height: 27px;}
.newlist{padding-top:15px;}
.newlist li{list-style: none;padding: 5px 15px;clear: both;overflow: hidden;}
.newlist li a{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:52%;display: inline-block; line-height: 27px;float: left;text-decoration: none;}
.til{width: 19%;border: 1px solid #e2872c; text-align: center;line-height: 27px;border-radius: 6px;display: inline-block;float: left;}
.timer{display: inline-block;line-height: 27px;float: right;}
.til{margin-right: 20px;}